/node_modules
/.env

*.bat
*.zip
*.tar*

/server/Adapter.json

# Temp
/src/Aiha/commands/Economy
/src/Aiha/commands/Music
/src/Aiha/commands/Moderation/clearwarnings.js
/src/Aiha/commands/Moderation/removewarn.js
/src/Aiha/commands/Moderation/warn.js
/src/Aiha/commands/Moderation/warnings.js