/node_modules
/.env

# Hosting service that I use for the bot
/discloud.js

*.bat
*.log
*.zip
*.tar*

# Database adapter
/server/Adapter.json

# Quiz configuration
/Configuration/js/Quiz.js

# Temp
/api/rest